/* This is to override the prismjs code highlighting inside the markdown files */

/* Modify the highlighted text properties */
code.language-text {
   font-size: .85em;
   background-color: #F2F2F2!important;
   color: #020202;
   margin-right: 4px;
   margin-left: 4px;
   padding: 1px 2px 1px 2px;
};

/* Modify the highlighted code block properties */
pre.language-text {
    background-color: #f2f2f2!important;
}